const Discord = require('discord.js');
const config = require('../../configs/config.json');


module.exports = {
    config: {
    category: __dirname.split("commands\\")[1],        name: '',
        description: '',
        aliases: [""],
        usage: '',
        accessableby: "",
    },
    run: async (client, message, args) => {
    
    }
}

